
[Desktop Entry]
Name=4K Video Downloader
GenericName=4K Video Downloader
Comment=Baixador de vídeos online
Exec=4kvideodownloader
Terminal=false
Type=Application
Icon=4kvideodownloader
Categories=Network;Qt;
StartupWMClass=4kvideodownloader-bin
StartupNotify=true
